body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    gap: 10px;

}

button {
    flex: auto;
    font-size: 15px;
    background-color: mistyrose;
    border-radius: 15%;
    height: 70px;
    width: 100px;
}